<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

  <session-factory>

    <!-- Настройки подключения к БД -->
    <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>

    <property name="connection.url">jdbc:mysql://localhost:3306/bookstore</property>

    <property name="connection.pool_size">1</property>

    <!-- SQL диалект -->
    <property name="dialect">
      org.hibernate.dialect.MySQLDialect
    </property>

    <!-- Включить автоматическое управление контекстом сессии -->
    <property name="current_session_context_class">thread</property>

    <!-- Вывод в консоль SQL-запросов -->
    <property name="show_sql">true</property>
    <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">405841ab</property>
    <!-- Подключение объектов сущностей -->
    <mapping class="com.senla.model.entity.Book"/>
    <mapping class="com.senla.model.entity.Customer"/>
    <mapping class="com.senla.model.entity.Order"/>
    <mapping class="com.senla.model.entity.RequestForBook"/>

  </session-factory>

</hibernate-configuration>